<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798747854256-rj0hh0lbvrfc74d02gsgcm84omu3d8hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798747854256-rj0hh0lbvrfc74d02gsgcm84omu3d8hp</string>
	<key>API_KEY</key>
	<string>AIzaSyDfVM4Zd4WP18JZsKlF3Yc6i6HN4PZeduU</string>
	<key>GCM_SENDER_ID</key>
	<string>798747854256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tm.LoginExample</string>
	<key>PROJECT_ID</key>
	<string>exampels-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>exampels-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798747854256:ios:187b0c8e7d36d371d0c275</string>
	<key>DATABASE_URL</key>
	<string>https://exampels-ios.firebaseio.com</string>
</dict>
</plist>