<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082813215843-7egsh8v23nv4lav6b31v4t39l74202b3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082813215843-7egsh8v23nv4lav6b31v4t39l74202b3</string>
	<key>API_KEY</key>
	<string>AIzaSyDm8KUl8ilQtFx6nuiTTXSzjrDLfhSsuFU</string>
	<key>GCM_SENDER_ID</key>
	<string>1082813215843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tm.LV7000</string>
	<key>PROJECT_ID</key>
	<string>lv7000</string>
	<key>STORAGE_BUCKET</key>
	<string>lv7000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082813215843:ios:e20e78405f19e7d5763456</string>
	<key>DATABASE_URL</key>
	<string>https://lv7000.firebaseio.com</string>
</dict>
</plist>